name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      # We don't use https://github.com/leanprover/lean-action.
      # Because caching strategy is not suitable for our project.
      - uses: actions/checkout@v6
      - name: Setup elan
        run: |
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- -y --default-toolchain none
          echo "$HOME/.elan/bin" >> "$GITHUB_PATH"
      - name: Setup graphviz
        uses: ts-graphviz/setup-graphviz@v2
      - name: Setup typst
        uses: typst-community/setup-typst@v4
      - name: Print tools version
        run: |
          lake --version
          dot -V
          typst --version

      # Restore project cache
      - name: Get Mathlib cache
        run: lake exe cache get
      - name: Restore cache
        id: cache-restore
        uses: actions/cache/restore@v5
        with:
          path: .lake/Foundation-x86_64-unknown-linux-gnu.tar.gz
          key: lake-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('lean-toolchain') }}-${{ hashFiles('lake-manifest.json') }}-${{ github.ref_name }}
      - name: Unpack project cache
        if: steps.cache-restore.outputs.cache-hit == 'true'
        run: lake unpack

      # Build project
      - name: Build Foundation
        run: lake build Foundation

      # Build import-graph
      - name: Generate import graph
        run: |
          lake exe graph ./pages/_output/import_graph.png
          lake exe graph ./pages/_output/import_graph.pdf
          lake exe graph ./pages/_output/import_graph.html

      # Build Doc
      - name: Build doc
        run: lake build Foundation:docs
      - name: Copy doc to pages
        run: cp -r .lake/build/doc ./pages/_output/doc

      # Save project cache
      - name: Pack project cache
        run: lake pack
      - name: Save project cache
        if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
        id: cache-save
        uses: actions/cache/save@v5
        with:
          path: .lake/Foundation-x86_64-unknown-linux-gnu.tar.gz
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}

      # Upload pages artifact
      - uses: actions/upload-pages-artifact@v4
        with:
          path: pages/_output

  check-references:
    name: Check references.bib format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install bibtool
        run: |
          sudo apt-get update
          sudo apt-get install -y bibtool
      - name: Format references.bib
        run: |
          bibtool -r .bibtoolrsc -i references.bib -o references.bib.formatted
      - name: Check if formatted correctly
        run: |
          diff -u references.bib references.bib.formatted || (echo "references.bib is not formatted" && exit 1)

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
