name: Cleanup cache when PR is closed

on:
  pull_request:
    types:
      - closed

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      pull-requests: read
    steps:
      - uses: opengrabeso/clean-cache@v1.1.0
